{% assign collections_mega_menu = false %}
{% assign linklist_mega_menu = false %}
{% assign linklist_images_menu = false %}

{% for block in section.blocks %}
 {% if block.type == 'collections_mega_menu' %}
    {% if block.settings.collection_item == link.title %}
      {% capture 'collections_mega' %}
        <div id="menu-{{ block.id }}" class="collections-mega-menu">
          {% for n in (1..6) %}
            {% assign collection = "collection_" | append: n %}
            {% assign collection = block.settings[collection] %}
            {% assign collection = collections[collection] %}
            {% assign custom_image = "collection_image_" | append: n %}
            {% assign custom_image = block.settings[custom_image] %}
            {% if collection != blank %}
              <a href="{{ collection.url }}">
                <div id="image-wrapper-{{ block.id }}">
                  {% if custom_image != blank %}
                    <img src="{{ custom_image | img_url: '450x' }}" alt="{{ custom_image.alt }}">
                  {% elsif collection.image == blank %}
                    {% for product in collection.products limit:1 %}
                       <img src="{{ product.media[1] | img_url: '200x' }}" alt="{{ product.media[1].alt }}">
                    {% endfor %}
                  {% else %}
                    <img src="{{ collection.image | img_url: '450x' }}" alt="{{ collection.image.alt }}">
                  {% endif %}
                </div>
                <p id="collection-title-{{ block.id }}" class="collection-title">{{ collection.title }}</p>
              </a>
            {% endif %}
          {% endfor %}
           <style>
                ul.nav li:hover div#menu-{{ block.id }} {
                  display: flex;
                  justify-content: center;
                  background: {{ settings.header_wrapper_background }};
                  padding-right: 108px;
                  padding-left: 108px;
                  padding-top: 20px;
                  padding-bottom: 20px;
                  z-index: 3;
                  width: 102%;
                  left: 0px;
                  margin-left: -1%;
                }
                @media screen and (max-width: 1340px) {
                  ul.nav li:hover div#menu-{{ block.id }} {
                    padding-right: 30px;
                    padding-left: 30px;
                    flex-wrap: wrap;
                  }
                }
                #collection-title-{{ block.id }} {
                  padding-top: 8px;
                  text-align: center;
                  line-height: 1.5;
                  font-size: {{ block.settings.header_font_size }}px;
                  font-weight: 500;
                  font-stretch: normal;
                  line-height: 24px;
                }
                #image-wrapper-{{ block.id }} {
                  overflow: hidden;
                  margin-right: 2%;
                  margin-left: 2%;
                }
                #menu-{{ block.id }} img{
                  object-fit: cover;
                }
            {% if block.settings.image_ratio == 'vertical' %}
                #menu-{{ block.id }}{
                  height: auto;
                }
                #image-wrapper-{{ block.id }} {
                  height: 250px;
                  width: 200px;
                  margin-top: 25px;
                }
                #menu-{{ block.id }} img{
                  height: 250px;
                  width: 200px;
                }
                #collection-title-{{ block.id }}{
                  margin-bottom: 25px;
                }
            {% elsif block.settings.image_ratio == 'horizontal' %}
                #image-wrapper-{{ block.id }} {
                  height: 150px;
                  width: 200px;
                }
                #menu-{{ block.id }} img{
                  height: 150px;
                  width: 200px;
                }
            {% elsif block.settings.image_ratio == 'square' %}
                #image-wrapper-{{ block.id }} {
                  height: 184px;
                  width: 184px;
                }
                #menu-{{ block.id }} img {
                  object-position: center center;
                  height: 184px;
                  width: 184px;
                }
                @media screen and (max-width: 1240px) {
                  #image-wrapper-{{ block.id }} {
                    height: 150px;
                    width: 150px;
                  }
                }
                @media screen and (max-width: 1040px) {
                  #image-wrapper-{{ block.id }} {
                    height: 120px;
                    width: 120px;
                  }
                }
            {% endif %}
        </style>
        </div>
      {% endcapture %}
      {% assign collections_mega_menu = true %}
    {% endif %}
    {% elsif block.type == 'linklist_columns' %}
      {% if block.settings.linklist_item == link.title %}
        {% capture 'linklist_columns' %}
          <div id="menu-{{ block.id }}" class="linklist-columns">
              <div class="menu-wrapper">
              {% assign linklist_qty = link.links.size %}
              {% for sub_link in link.links limit: 6 %}
               <ul class="inside-wrapper dropdown-linklist">
                  <h5 class="header">
                    <a href="{{ sub_link.url }}">{{ sub_link.title }}</a>
                  </h5>
                  {% for sub_sub_link in sub_link.links %}
                     <li><a href="{{ sub_sub_link.url }}">{{ sub_sub_link.title }}</a></li>
                  {% endfor %}
              </ul>
              {% endfor %}
            </div>
          <style>
           #menu-{{ block.id }} {
                display: none;
                flex: 1 0 auto;
                background-color: white;
                align-self: center;
                position: absolute;
                z-index: 2;
                height: 296px;
                width: 102%;
                left: 0px;
                margin-left: -1%;
              }
              ul.nav li:hover div#menu-{{ block.id }} {
                display: flex;
                justify-content: center;
                padding-right: 108px;
                padding-left: 108px;
              }
               #menu-{{ block.id }} .menu-wrapper {
                display: flex;
                flex-direction:row;
                padding-top: 40px;
                width: 100%;
                justify-content: center;
              }
              #menu-{{ block.id }} .inside-wrapper {
                text-align: {{ block.settings.links_alignment }};
              }
              .inside-wrapper.dropdown-linklist {
                padding-right: 20px;
                padding-left: 20px;
                min-width: 25%;
              }
              {% if linklist_qty == 3 %}
                .inside-wrapper.dropdown-linklist {
                  min-width: 33.33%;
                }
              {% elsif linklist_qty == 4 %}
                .inside-wrapper.dropdown-linklist {
                  min-width: 25%;
                }
              {% elsif linklist_qty == 5 %}
                .inside-wrapper.dropdown-linklist {
                  min-width: 20%;
                }
              {% elsif linklist_qty == 6 %}
                .inside-wrapper.dropdown-linklist {
                  min-width: 16.6667%;
                }
              {% endif %}
              #menu-{{ block.id }} li a {
                margin-bottom: 0px;
                font-size: {{ block.settings.submenu_font_size_link }}px !important;
                line-height: 24px !important;
              }
              .dropdown-linklist > li a {
                padding-top: 8px;
                padding-bottom: 8px;
              }
              #menu-{{ block.id }} h5.header a {
                font-weight: bold;
                font-size: {{ block.settings.header_font_size_link }}px !important;
                margin-top: 0;
                margin-bottom: 15px;
                line-height: normal;
                line-height: calc(({{ block.settings.header_font_size_link }}px * 0.17) + {{ block.settings.header_font_size_link }}px) !important;
              }
          </style>
          </div>
        {% endcapture %}
        {% assign linklist_mega_menu = true %}
      {% endif %}
    {% elsif block.type == 'linklist_with_images' %}
      {% if block.settings.linklist_images_menu_item == link.title %}
          {% capture 'linklist_images_columns' %}
            <div id="menu-{{ block.id }}" class="linklist-columns">
              <div id="menu-wrapper">
                {% for sub_link in link.links limit: 5 %}
                <div class="inside-wrapper">
                  <h5 class="header">
                   <a href="{{ sub_link.url }}">{{ sub_link.title }}</a>
                  </h5>
                  {% for sub_sub_link in sub_link.links %}
                    <ul class="dropdown-linklist">
                      <li>
                        <a href="{{ sub_sub_link.url }}">{{ sub_sub_link.title }}</a>
                      </li>
                    </ul>
                  {% endfor %}
                </div>
                {% endfor %}
               </div>
                {% for n in (1..5) %}
                  {% assign custom_image = "featured_image_" | append: n %}
                  {% assign custom_image = block.settings[custom_image] %}
                  {% assign custom_title = "featured_image_label_" | append: n %}
                  {% assign custom_title = block.settings[custom_title] %}
                  {% assign custom_url = "image_url_" | append: n %}
                  {% assign custom_url = block.settings[custom_url] %}
                  {% if custom_url %}<a class="linklist-image" href="{{ custom_url }}">{% else %}<div class="linklist-image">{% endif %}
                    <div id="image-wrapper">
                      {% if custom_image != blank %}
                        <img src="{{ custom_image | img_url: '450x' }}" alt="{{ custom_image.alt }}">
                      {% endif %}
                    </div>
                    {% if custom_title != blank %}
                      <h5 class="featured-image-title header">
                        {{ custom_title }}
                      </h5>
                    {% endif %}
                  {% if custom_url %}</a>{% else %}</div>{% endif %}
                {% endfor %}
            <style>
              #menu-{{ block.id }}{
                  display: none;
                  flex: 1 0 auto;
                  background-color: white;
                  align-self: center;
                  position: absolute;
                  z-index: 2;
                  height: auto;
                  width: 102%;
                  left: 0px;
                  margin-left: -1%;
                }

                ul.nav li:hover div#menu-{{ block.id }} {
                  display: flex;
                  justify-content: center;
                  padding: 40px 60px;
                }
               #menu-{{ block.id }} #menu-wrapper {
                  display: flex;
                  flex-direction:row;
                  display: none;
                  /* width: 100%; */
              }

              #menu-{{ block.id }} .inside-wrapper {
                padding: 0;
                margin-right: 15px;
                width: 33.33%;
                text-align: {{ block.settings.links_alignment }};
              }
              .dropdown-linklist {
                margin-bottom: 0px;
                font-size: 14px;
                line-height: 1.14;
              }
              #menu-{{ block.id }} h5.header a {
                font-size: {{ block.settings.header_font_size_images }}px !important;
                margin-top: 0;
                margin-bottom: 15px;
                line-height: calc(({{ block.settings.header_font_size_images }}px * 0.17) + {{ block.settings.header_font_size_images }}px) !important;
              }
              .featured-image-title {
                text-align:center;
                margin-top: 8px;
              }
              #menu-{{ block.id }} li a {
                font-size:{{ block.settings.submenu_font_size_images }}px !important;
                line-height: 24px !important;
              }
              #menu-{{ block.id }} .linklist-image {
                padding: 0 10px;
              }
             {% if block.settings.image_ratio == 'vertical' %}
                #menu-{{ block.id }} {
                  height: auto;
                }
                #menu-{{ block.id }} #image-wrapper {
                  height: 234px;
                  width: 184px;
                  overflow: hidden;
                }
                #menu-{{ block.id }} img {
                  height: 250px;
                  width: 100%;
                  object-fit: cover;
                }
                #collection-title-{{ block.id }} {
                  margin-bottom: 25px;
                }
            {% elsif block.settings.image_ratio == 'horizontal' %}
                #menu-{{ block.id }} #image-wrapper {
                  height: 134px;
                  width: 184px;
                  overflow: hidden;
                }
                #menu-{{ block.id }} img {
                  height: 200px;
                  width: 100%;
                  object-fit: cover;
                  object-position: center center;
                }
            {% elsif block.settings.image_ratio == 'square' %}
                #menu-{{ block.id }} #image-wrapper {
                  width: 184px;
                  height: 184px;
                  overflow: hidden;
                }
                #menu-{{ block.id }} img {
                  object-position: center center;
                  height: 200px;
                  width: 100%;
                  object-fit: cover;
                }

                @media screen and (max-width: 1240px) {
                  #menu-{{ block.id }} #image-wrapper {
                    height: 190px;
                    width: 190px;
                  }
                }
                @media screen and (max-width: 1040px) {
                  #menu-{{ block.id }} #image-wrapper {
                    height: 160px;
                    width: 160px;
                  }
                }
                @media screen and ( min-width: 1075px ) {
                  ul.nav li:hover div#menu-{{ block.id }} {
                    padding: 40px 0;
                  }

                }
                @media screen and ( max-width: 1074px ) {
                  ul.nav li:hover div#menu-{{ block.id }} {
                      padding: 40px 30px;
                  }
                }
            {% endif %}
            </style>
            </div>
          {% endcapture %}
        {% assign linklist_images_menu = true %}
      {% endif %}
  {% endif %}
{% endfor %}
{% if collections_mega_menu %}
  <li class="dropdown has_sub_menu" aria-haspopup="true" aria-expanded="false">
    <a class="dlink" href="{{ link.url }}">{{ link.title | escape }}</a>
    {{ collections_mega }}
  </li>
{% elsif linklist_mega_menu %}
  <li class="dropdown has_sub_menu" aria-haspopup="true" aria-expanded="false">
    <a class="dlink" href="{{ link.url }}">{{ link.title | escape }}</a>
    {{ linklist_columns }}
  </li>
{% elsif linklist_images_menu %}
  <li class="dropdown has_sub_menu" aria-haspopup="true" aria-expanded="false">
    <a class="dlink" href="{{ link.url }}">{{ link.title | escape }}</a>
    {{ linklist_images_columns }}
  </li>
{% elsif link.links != blank %}
  <li class="dropdown has_sub_menu" aria-haspopup="true" aria-expanded="false">
    <a class="dlink" href="{{ link.url }}">{{ link.title | escape }}</a>
    <ul class="submenu">
     {% for sub_link in link.links %}
       {% if sub_link.links != blank %}
         <li class="nest has_sub_menu" aria-haspopup="true" aria-expanded="false">
           <a href="{{ sub_link.url }}">{{ sub_link.title | escape }}</a>
           <ul class="nested">
             {% for sub_sub_link in sub_link.links %}
               <li>
                 <a href="{{ sub_sub_link.url }}">{{ sub_sub_link.title }}</a>
               </li>
             {% endfor %}
           </ul>
         </li>
       {% else %}
         <li>
           <a href="{{ sub_link.url }}">
             {{ sub_link.title | escape }}
           </a>
         </li>
       {% endif %}
     {% endfor %}
    </ul>
  </li>
{% else %}
  <li>
    <a class="alink" href="{{ link.url }}">
      {{ link.title | escape }}
    </a>
  </li>
{% endif %}
