<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en" class="no-js"> <!--<![endif]-->
<head>

{% include 'social-media-tags' %}
{% include 'structured-data' %}

  <!-- Meta -->
  <title>
    {% if template == 'index' %}{% if page_title contains 'Welcome' %}{{ shop.name }} &ndash; Welcome{% else %}{{ page_title }}{% endif %}{% elsif template == '404' %}Page Not Found{% elsif page_title contains shop.name %}{{ page_title }}{% else %}{{ page_title }} &ndash; {{ shop.name }}{% endif %}
  </title>
  {% if page_description %}
  <meta name="description" content="{{ page_description }}" />
  {% endif %}
  <link rel="canonical" href="{{ canonical_url }}" />

  <!-- Viewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- CSS -->

  {{ 'stylesheet.css' | asset_url | stylesheet_tag }}
  {{ '10skyntheme.css' | asset_url | stylesheet_tag }}
  {{ 'custom.css' | asset_url | stylesheet_tag }}
  {{ 'queries.css' | asset_url | stylesheet_tag }}
  {{ 'frow.min.css' | asset_url | stylesheet_tag }}
  

  <!--[if lt IE 9]>
	<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- JS -->

  {{ "//code.jquery.com/jquery-3.3.1.min.js" | script_tag }}
  {{ 'eventemitter3.min.js' | asset_url | script_tag }}
  {{ 'option_selection.js' | shopify_asset_url | script_tag }}
  {{ '10skyntheme.js' | asset_url | script_tag }}

  {% if template == 'index' or  template contains 'page.custom-' or template contains 'product.custom-' %}
  {% endif %}

  {{ content_for_header }}

  {% if template contains 'customers' %}
  {{ "shopify_common.js" | shopify_asset_url | script_tag }}
  {{ "customer_area.js"  | shopify_asset_url | script_tag }}
  {% endif %}

  <!-- Favicon -->
  {% if settings.favicon != blank %}
  <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png" />
  {% endif %}
</head>

<body class="gridlock shifter shifter-left {{ template | handleize }}">
  <nav class="mobile-menu" role="navigation">
    {% section 'mobile-navigation' %}
  </nav>

  <div class="site-wrap">
    <div id="wrapper">
      {% section'header' %}
      
      {% if template contains 'collection' %}
        {% if collection.description contains '[banner]' %}
          {% capture banner %}{{ collection.handle }}.jpg{% endcapture %}
      
          <div class="collection-banner">
            <img src="{{ banner | file_url }}" alt="{{ collection.title }}">
          </div>

        {% endif %}
      {% endif %}

      {% if template contains 'index' or template contains 'blog' or template contains 'list-collections' or template contains 'page.custom-' or template contains 'product.custom-' or template contains 'collection.custom-' %}
        {{ content_for_layout }}
     
        {%elsif template contains 'story' or template contains 'makeup' or template contains 'skincare' or template contains 'lash-extensions' or template contains 'microblading' %}
          {{ content_for_layout }}
        {% else %}

          {% section 'page-custom-two' %}
          <div id="content" class="row">
            {% comment %} {% include 'breadcrumb' %} {% endcomment %}
            {{ content_for_layout }}
          </div>
      {% endif %}

      <div class="clear"></div>
    </div> <!-- End wrapper -->
    {% section 'footer' %}
  </div>
  
  {% if settings.popup %}
    {% include 'popup' %}
  {% endif %}

  <div class="fancybox-wrapper"></div>
  
  {% include 'ajaxify-cart' %}

  {% if settings.ajax_cart_method == 'modal' %}
   {% include 'modal-cart-template' %}
   <script>
   jQuery(function($) {
     ajaxifyShopify.init({
       method: '{{ settings.ajax_cart_method }}',
       wrapperClass: 'site-wrap',
       formSelector: '#AddToCartForm',
       addToCartSelector: '#addToCart',
       cartCountSelector: '.cart-count',
       toggleCartButton: '#cart-link',
       useCartTemplate: false,
       btnClass: 'btn',
       moneyFormat: {{ shop.money_format | json }},
       disableAjaxCart: false,
       enableQtySelectors: true
     });
   });
   </script>
  {% endif %}
  
  {% if settings.ajax_cart_method == 'mini' %}
   {% include 'mini-cart-template' %}
  {% endif %}

  <script>
    window.lazySizesConfig = window.lazySizesConfig || {};
    window.lazySizesConfig.minSize = 360;
  </script>

  <!-- Responsive Images -->
  {{ 'ls.rias.min.js' | asset_url | script_tag }}
  {{ 'ls.bgset.min.js' | asset_url | script_tag }}
  {{ 'lazysizes.min.js' | asset_url | script_tag }}

  <!-- Theme Javascript -->
  {{ 'theme.js' | asset_url | script_tag }}

  <script>
      document.documentElement.className =
         document.documentElement.className.replace("no-js","js");
  </script>

  <!-- Fancybox JS -->
  {{ 'jquery.fancybox.js' | asset_url | script_tag }}

</body>
</html>