<div class="clear"></div>

<section class="team">
    <section class="sk-section-wrapper">
        <div class="sk-section-name">{{ section.settings.team_title }}</div>
        {% if section.settings.description %}
        <div class="sk-section-description">{{ section.settings.description }}</div>
      {% endif %}
    </section>
    
    <div class="frow justify-between">
    {% for block in section.blocks %}
    <div class="team-single">
        <img src="{{ block.settings.team-image | img_url: 'large' }}" alt="{{ block.settings.team-image-alt }}" />
        <div class="team-name">{{ block.settings.team_name }}</div>
        <div class="team-position">{{ block.settings.team_position }}</div>
        
        <a class="book-btn" href="{{ block.settings.book_url }}" target="_blank" alt="Book with {{ section.settings.team-name }}">
            <div>Book with {{ block.settings.team_name }}</div>
        </a>
    </div>
    {% endfor %}
    </div>
</section>

{% schema %}
{
    "name": "Team Section",
    "settings": [
        {
            "type": "text",
            "id": "team_title",
            "label": "Team Title"
        },
        {
            "type": "textarea",
            "id": "description",
            "label": "Team Description"
        }
    ],
    "blocks": [
        {
            "type": "component",
            "name": "Team Member",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "team-image",
                    "label": "Team Image"
                },
                {
                    "type": "text",
                    "id": "team-image-alt",
                    "label": "Team Image Alt Desc"
                },
                {
                    "type": "text",
                    "id": "team_name",
                    "label": "Team Name"
                },
                {
                    "type": "text",
                    "id": "team_position",
                    "label": "Team Position"
                },
                {
                    "type": "url",
                    "id": "book_url",
                    "label": "Booking URL"
                }
            ]
        }
    ]
}
{% endschema %}