<div class="sk-product-wrapper">
  <div class="frow justify-start">
    
    {% for block in section.blocks %}
    <div class="book-page-item">
      <a href="{{ block.settings.book-url }}"><div class="book-bg-img" style="background-image:url('{{ block.settings.book-image | img_url: 'master' }}');">
      </div></a>
      <h3 class="collection-thumb-title book">
        <a href="{{ block.settings.book-url }}">{{ block.settings.book-title }}</a>
      </h3>
      {% if block.settings.book-desc %}
      <p class="collection-copy">{{ block.settings.book-desc }}</p>
      {% endif %}
    </div>
    {% endfor %}

  </div>
</div>

{% schema %}
{
    "name": "Book Linklist",
    "blocks": [
        {
            "type": "component",
            "name": "Book Item",
            "settings": [
                {
                    "type": "text",
                    "id": "book-title",
                    "label": "Book Title"                
                },
                {
                  "type": "textarea",
                  "id": "book-desc",
                  "label": "Book Description"
                },
                {
                    "type": "url",
                    "id": "book-url",
                    "label": "Book URL"                
                },
                {
                    "type": "image_picker",
                    "id": "book-image",
                    "label": "Book Image"
                }
            ]
        }
        
    ]
}
{% endschema %}