<div class="clear"></div>
<section class="sk-section-wrapper">
    <div class="frow justify-between">
        <div class="right-img" style="background-image: url('{{ section.settings.book-alpha-image | img_url: 'large' }}');"></div>
        
        <div class="text-combo">
            <div class="frow centered-column">
                <div class="text-combo-title">{{ section.settings.book-alpha-name }}</div>
                <div class="text-combo-desc">{{ section.settings.book-alpha-desc }}</div>
                <a class="text-combo-btn" href="{{ section.settings.alpha-btn-link }}">
                    <div>{{ section.settings.alpha-btn-text }}</div>
                </a>
            </div>
        </div>
    </div>
</section>

{% schema %}
{
    "name": "Book Alpha",
    "settings": [
        {
            "type": "image_picker",
            "id": "book-alpha-image",
            "label": "Alpha Image"
        },
        {
            "type": "text",
            "id": "book-image-alt",
            "label": "Alt description for Image"
        },
        {
            "type": "text",
            "id": "book-alpha-name",
            "label": "Name of Alpha Content"
        },
        {
            "type":  "textarea",
            "id": "book-alpha-desc",
            "label": "Alpha Description"
        },
        {
            "type": "text",
            "id":  "alpha-btn-text",
            "label": "Alpha CTA Text"
        },
        {
            "type": "url",
            "id":  "alpha-btn-link",
            "label": "Alpha CTA Link"
        }
    ]
}
{% endschema %}