<section class="cta-bg" style="background-image: url('{{ section.settings.book-bg-img | img_url: 'master' }}');">
    <div class="cta-section">
        <div class="cta-title">{{ section.settings.book-cta-title }}</div>
        <div class="cta-description">{{ section.settings.book-cta-description }}</div>
        <a class="cta-btn" href="{{ section.settings.book-url }}"><div>{{ section.settings.book-url-title }}</div></a>
    </div>
    
    
</section>

{% schema %}
{
    "name": "Book w/ 10SKYN",
    "settings": [
        {
            "type": "image_picker",
            "id": "book-bg-img",
            "label": "Background Image"
        },
        {
            "type": "text",
            "id": "book-cta-title",
            "label": "CTA Title"
        },
        {
            "type": "text",
            "id": "book-cta-description",
            "label": "CTA Description"
        },
        {
            "type": "text",
            "id":  "book-url-title",
            "label": "CTA Link Title"
        },
        {
            "type": "url",
            "id":  "book-url",
            "label": "CTA Link"
        }
    ]
}
{% endschema %}