<div class="clear"></div>
<section class="right-img-text-combo">
    <div class="frow justify-start">
        <div class="right-img">
            <img src="{{ section.settings.alpha-content-image }}" alt="{{ section.settings.alpha-content-image-alt }}" />
        </div>
        <div class="text-combo">
            <h2 class="text-combo-title">{{ section.settings.alpha-name }}</h2>
            <p>{{ section.settings.alpha-description }}</p>
        </div>
        <a class="text-combo-cta" href="{{ section.settings.alpha-btn-link }}">
            <div>{{ section.settings.alpha-btn-text }}</div>
        </a>
    </div>
</section>

{% schema %}
{
    "name": "Alpha Content",
    "settings": [
        {
            "type": "image_picker",
            "id": "alpha-content-image",
            "label": "Alpha Image"
        },
        {
            "type": "text",
            "id": "alpha-content-image-alt",
            "label": "Alt description for Image"
        },
        {
            "type": "text",
            "id": "alpha-name",
            "label": "Name of Alpha Content"
        },
        {
            "type":  "text",
            "id": "alpha-description",
            "label": "Alpha Description"
        },
        {
            "type": "text",
            "id":  "alpha-btn-text",
            "label": "Alpha CTA Text"
        },
        {
            "type": "url",
            "id":  "alpha-btn-link",
            "label": "Alpha CTA Link"
        }
    ]
}
{% endschema %}