<div data-section-id="{{ section.id }}">

  <div id="page" class="desktop-12 mobile-3 sk-contact-form">
    <div class="frow justify-between">
      
      <div>
        {% if section.settings.form-position != 'center' %}
          <div id="contact-page" class="desktop-6 tablet-6 mobile-3{% if section.settings.form-position == 'left' %} form-left{% endif %}">
            <div class="rte" style="min-height: 1px">
              {% for  block in section.blocks %}
              <div class="contact_group">
                <div class="contact_title">{{ block.settings.contact_title}}</div>
                <div class="contact_desc">{{ block.settings.contact_copy }}</div>
              </div>
              {% endfor %}
              {{ page.content }}
            </div>
          </div>
    
          <div class="desktop-6 mobile-3 tablet-6">
            <div class="contact_title">{{ section.settings.contact_title }}</div>
            {% include 'custom-contact' type: section %}
          </div>
    
        {% else %}
    
          {% comment %}If we have the contact form centered only {% endcomment %}
          <div id="page" class="desktop-8 desktop-push-2 tablet-6 mobile-3 centered-form">
            <div class="rte">
              {{ page.content }}
            </div>
            {% include 'custom-contact' type: section %}
          </div>
        {% endif %}
      </div>
    </div>
    

  </div>
</div>

{% schema %}
{
    "name": "Contact page",
    "settings": [
		{
        "type": "select",
        "id": "form-position",
        "label": "Contact form position",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "cf_show_first_name",
        "label": "Show first name",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "cf_show_last_name",
        "label": "Show last name",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "cf_show_company_name",
        "label": "Show company name",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "cf_show_address",
        "label": "Show address",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "cf_show_website_url",
        "label": "Show website url",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "cf_show_phone",
        "label": "Show phone number",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "cf_show_subject",
        "label": "Show subject",
        "default": true
      },
      {
        "type": "header",
        "content": "Custom Field One"
      },
      {
        "type": "checkbox",
        "id": "cf_show_custom_field_one",
        "label": "Show custom field one",
        "default": false
      },
      {
        "type": "text",
        "id": "cf_custom_field_one",
        "label": "Field Placeholder",
        "default": "Custom Field One"
      },
      {
       "type":      "select",
       "id":        "cf_custom_field_one_type",
       "label":     "Field Type",
       "default":   "input",
       "options": [
         {
           "value": "textarea",
           "label": "Multiple line text"
         },
         {
           "value": "input",
           "label": "Single line text"
         }
       ]
     },
     {
       "type": "header",
       "content": "Custom Field Two"
     },
     {
       "type": "checkbox",
       "id": "cf_show_custom_field_two",
       "label": "Show custom field one",
       "default": false
     },
     {
       "type": "text",
       "id": "cf_custom_field_two",
       "label": "Field Placeholder",
       "default": "Custom Field Two"
     },
     {
      "type":      "select",
      "id":        "cf_custom_field_two_type",
      "label":     "Field Type",
      "default":   "input",
      "options": [
        {
          "value": "textarea",
          "label": "Multiple line text"
        },
        {
          "value": "input",
          "label": "Single line text"
        }
      ]
    },
    {
      "type": "text",
      "id": "contact_title",
      "label": "Contact Title"
    }
    ],
    "blocks": [
      {
        "type": "component",
        "name": "Need Help?",
        "settings": [
          {
            "type": "text",
            "id": "contact_title",
            "label": "Contact Title"
          },
          {
            "type": "textarea",
            "id": "contact_copy",
            "label": "Contact Copy"
          }
        ]
      }
    ]
  }
{% endschema %}
