<div class="mobile-navigation" style="display: none;" data-section-id="{{ section.id }}" data-section-type="mobile-navigation">
  {% for block in section.blocks %}
    <div class="mobile-nav-block" {{ block.shopify_attributes }}>
    {% case block.type %}
      {% when 'search_box' %}
        <div class="search-box">
          <form action="/search" method="get" class="search-form">
            <input type="text" name="q" id="q" class="search-field" placeholder="{{ 'general.search.placeholder' | t }}" />
            <button type="submit"><i class="fa fa-search"></i></button>
          </form>
          <div class="clear"></div>
        </div>
      {% when 'navigation' %}
        <div class="mobile-menu">
          <ul id="accordion">
            {% for link in linklists[block.settings.main_nav].links %}
              {% if link.links != blank %}
            <li class="accordion-toggle has_sub_menu" aria-haspopup="true" aria-expanded="false"><a href="{{ link.url }}">{{ link.title | escape }}</a></li>
                <div class="accordion-content">
                  <ul class="sub">
                    {% for sub_link in link.links %}
                      {% if sub_link.links != blank %}
                        <div class="accordion-toggle2 has_sub_menu" aria-haspopup="true" aria-expanded="false">
                          <a href="{{ sub_link.url }}">{{ sub_link.title | escape }}</a>
                        </div>
                        <div class="accordion-content2">
                          <ul class="sub">
                            {% for sub_sub_link in sub_link.links %}
                              <li>
                                <a href="{{ sub_sub_link.url }}">
                                  {{ sub_sub_link.title }}
                                </a>
                              </li>
                            {% endfor %}
                          </ul>
                        </div>
                      {% else %}
                        <li>
                          <a href="{{ sub_link.url }}">
                            {{ sub_link.title | escape }}
                          </a>
                        </li>
                      {% endif %}
                    {% endfor %}
                  </ul>
                </div>
              {% else %}
                <li>
                  <a href="{{ link.url }}">{{ link.title | escape }}</a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      {% when 'social_icons' %}
        {% include 'social-icons' %}
      {% when 'featured_image' %}
        <div class="featured-image {% if forloop.first %}first-item{% endif %}">
          {% if block.settings.featured_image_link %}<a href="{{ block.settings.featured_image_link }}">{% endif %}
            {% include 'basic-responsive-image' type: block.settings.featured_image %}
            <noscript>
              <img src="{{ block.settings.featured_image | img_url: '300x' }}" alt="block.settings.featured_image.alt">
            </noscript>
          {% if block.settings.featured_image_link %}</a>{% endif %}
          <style media="screen">
            {% if block.settings.full_featured_image %}
              .mobile-navigation .featured-image {
                margin: 0 0 0 -12px !important;
                padding: 0;
                width: 110%;
              }
              .mobile-navigation .featured-image.first-item {
                margin-top: -20px !important;
              }
            {% endif %}
          </style>
        </div>
      {% when 'customer_account_links' %}
      	{% if shop.customer_accounts_enabled %}
          <ul id="customer-accounts-mobile">
            {% if customer  %}
            <li>
              <a href="{{ routes.account_url }}">{{ 'customer.account.title' | t }}</a>
            </li>
            <li>
              <a href="{{ routes.account_logout_url }}">{{ 'customer.account.logout' | t }}</a>
            </li>
            {% else %}
            <li>
              <a href="{{ routes.account_login_url }}">{{ 'customer.account.title' | t }}</a>
            </li>
            {% endif %}
          </ul>
        {% endif %}
      {% when 'featured_text' %}
        <div class="featured-text">
          {{ block.settings.featured_text }}
        </div>
      {% when 'cart_status' %}
        <div class="cart-status">
          <a class="cart-icon" href="{{ routes.cart_url }}">
            <span class="cart-count">{{ cart.item_count }}</span>
            {% if section.settings.cart_icon == 'bag' %}
              <svg width="20px" height="20px" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <g id="Cart-Page" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <g id="Mobile-Cart---Sticky-Checkout" transform="translate(-337.000000, -58.000000)" stroke="#222222">
                          <g id="Mobile-Navbar" transform="translate(0.000000, 40.000000)">
                              <g id="Bag-Icon" transform="translate(338.000000, 19.000000)">
                                  <path d="M9,0 C11.209139,0 13,1.790861 13,4 L13,4 L5,4 C5,1.790861 6.790861,0 9,0 Z" id="Combined-Shape"></path>
                                  <rect id="Rectangle-Copy-4" x="0" y="4" width="18" height="14" rx="1"></rect>
                              </g>
                          </g>
                      </g>
                  </g>
              </svg>
            {% else %}
              <svg width="24px" height="22px" viewBox="0 0 24 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="Cart-Page" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Cart-Icon" transform="translate(-1.000000, 0.000000)">
                        <rect id="Rectangle" x="0" y="0" width="25" height="22"></rect>
                        <polyline id="Path-3" stroke="#222222" stroke-linecap="round" stroke-linejoin="round" points="1 1 4 1.06666667 4.21831531 2.15339177 6.37113186 12.8696341 7 16 22 16"></polyline>
                        <polyline id="Path-7" stroke="#222222" stroke-linejoin="round" points="4 3 24 3 22 13 6 13"></polyline>
                        <circle id="Oval-Copy-2" fill="#222222" cx="10.625" cy="19.625" r="1.625"></circle>
                        <circle id="Oval-Copy-3" fill="#222222" cx="17.625" cy="19.625" r="1.625"></circle>
                    </g>
                </g>
              </svg>
            {% endif %}
            <p class="cart-title">{{ 'cart.general.title' | t }}</p>
          </a>
        </div>
    {% endcase %}
  </div>
  {% endfor %}
</div>

<style>
    .mobile-navigation {
      border: {{ section.settings.outer_border_weight }}px solid {{ section.settings.border_color }};
      background-color: {{ section.settings.background_color }};
    }
    .mobile-navigation .cart-status a,
    .mobile-navigation .featured-text p,
    .mobile-navigation ul#accordion li a,
    .mobile-navigation ul#accordion .accordion-toggle:after,
    .mobile-navigation ul#accordion .accordion-toggle2:after,
    .mobile-navigation ul#accordion .accordion-toggle2 a,
    .mobile-navigation ul#accordion .accordion-toggle2 a:visited,
    .mobile-navigation .cart-status a:visited,
    .mobile-navigation ul#accordion li a:visited {
      color: {{ section.settings.text_color }} !important;
    }
    .mobile-navigation input::placeholder {
      color: {{ section.settings.text_color }} !important;
      opacity: 1;
    }
    .mobile-navigation input:-ms-input-placeholder {
      color: {{ section.settings.text_color }} !important;
      opacity: 1;
    }
    .mobile-navigation input::-ms-input-placeholder {
      color: {{ section.settings.text_color }} !important;
      opacity: 1;
    }

    .mobile-navigation ul#accordion li  {
      border-bottom: {{ section.settings.main_link_border_weight }}px solid {{ section.settings.border_color }} !important;
    }
    .mobile-navigation ul#accordion ul.sub li {
      border-bottom: {{ section.settings.sub_link_border_weight }}px solid {{ section.settings.border_color }} !important;
    }
    .mobile-navigation .search-form {
      border-bottom: {{ section.settings.search_box_weight }}px solid {{ section.settings.border_color }};
      border-left: none;
      border-right: none;
      border-top: none;
    }
    .mobile-navigation .accordion-content {
      padding-left: 5px;
    }
    .mobile-navigation .cart-status a {
      line-height: 42px;
      height: 44px;
      border: {{ section.settings.cart_link_weight }}px solid {{ section.settings.border_color }};
      width: 94%;
      margin: 0 auto;
      display: inline-block;
      position: relative;
      padding: 0 10px;
    }
    {% if section.settings.cart_icon == 'cart' %}
      .mobile-navigation span.cart-count {
        top: -4px;
        left: 14px;
      }
    {% endif %}
</style>

{% schema %}
  {
    "name": "Mobile Navigation",
    "settings": [
      {
        "type": "header",
        "content": "Color Styles"
      },
      {
        "type": "color",
        "id": "background_color",
        "label": "Background",
        "default":"#fff"
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "Text",
        "default":"#000"
      },
      {
        "type": "header",
        "content": "Border Styles"
      },
      {
        "type":      "range",
        "id":        "outer_border_weight",
        "min":       0,
        "max":        5,
        "step":       1,
        "unit":       "px",
        "label":     "Outer border weight",
        "default":   2
      },
      {
        "type":      "range",
        "id":        "main_link_border_weight",
        "min":       0,
        "max":        5,
        "step":       1,
        "unit":       "px",
        "label":     "Main link border weight",
        "default":   2
      },
      {
        "type":      "range",
        "id":        "sub_link_border_weight",
        "min":       0,
        "max":        5,
        "step":       1,
        "unit":       "px",
        "label":     "Sublink border weight",
        "default":   1
      },
      {
        "type":      "range",
        "id":        "cart_link_weight",
        "min":       0,
        "max":        5,
        "step":       1,
        "unit":       "px",
        "label":     "Cart link border weight",
        "default":   1
      },
      {
        "type":      "range",
        "id":        "search_box_weight",
        "min":       0,
        "max":        5,
        "step":       1,
        "unit":       "px",
        "label":     "Search box border weight",
        "default":   2
      },
      {
        "type": "color",
        "id": "border_color",
        "label": "Borders",
        "default":"#000"
      },
      {
        "type": "paragraph",
        "content": "Use the blocks below to add, reorder, or remove things from the mobile navigation"
      },
      {
        "type": "select",
        "id": "cart_icon",
        "label": "Cart Icon",
        "default": "bag",
        "options": [
          {
            "value": "bag",
            "label": "Bag"
          },
          {
            "value": "cart",
            "label": "Cart"
          }
        ]
      }
	  ],
    "blocks": [
      {
        "type": "search_box",
        "name": "Search Box",
        "settings": []
      },
      {
        "type": "navigation",
        "name": "Navigation",
        "settings": [
          {
            "type": "link_list",
            "id": "main_nav",
            "label": "Choose main menu",
            "default":"main-menu"
          }
        ]
      },
      {
        "type": "featured_image",
        "name": "Featured Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "featured_image",
            "label": "Choose featured image"
          },
          {
            "type": "url",
            "id": "featured_image_link",
            "label": "Featured image link"
          },
          {
            "type": "checkbox",
            "id": "full_featured_image",
            "label": "Enable full-width image",
            "default": false
          }
        ]
      },
      {
        "type": "social_icons",
        "name": "Social Icons",
        "settings": []
      },
      {
        "type": "customer_account_links",
        "name": "Customer Account Link",
        "settings": []
      },
      {
        "type": "featured_text",
        "name": "Featured Text",
        "settings": [
          {
            "type": "richtext",
            "id": "featured_text",
            "label": "Featured Text",
            "default": "<p><b>Featured Text</b></p><p><em>A great place to share about a sale!</em></p>"
          }
        ]
      },
      {
        "type": "cart_status",
        "name": "Cart Link",
        "settings": [
          {
            "type": "select",
            "id": "cart_icon",
            "label": "Cart icon",
            "options": [
              {
                "value": "cart",
                "label": "Cart"
              },
              {
                "value": "bag",
                "label": "Bag"
              }
            ],
            "info":"You can change the text in your edit language section"
          }
        ]
      }
    ],
    "default": {
      "blocks": [
        {
          "type": "featured_image"
        },
        {
          "type": "cart_status"
        },
        {
          "type": "navigation"
        },
        {
          "type": "featured_text"
        },
        {
          "type": "search_box"
        },
        {
          "type": "social_icons"
        }
      ]
    }
  }
{% endschema %}
