<div class="clear"></div>
<section class="right-img-text-combo">
    <div class="frow justify-start">
        <div class="right-img">
            <img src="{{ section.settings.shop-alpha-image | img_url: 'large' }}" alt="{{ section.settings.shop-image-alt }}" />
        </div>
        <div class="text-combo">
            <h2 class="text-combo-title">{{ section.settings.shop-alpha-name }}</h2>
            <p>{{ section.settings.shop-alpha-desc }}</p>
            <a class="text-combo-cta" href="{{ section.settings.alpha-btn-link }}">
                <div>{{ section.settings.alpha-btn-text }}</div>
            </a>
        </div>
    </div>
</section>

{% schema %}
{
    "name": "Shop Alpha",
    "settings": [
        {
            "type": "image_picker",
            "id": "shop-alpha-image",
            "label": "Alpha Image"
        },
        {
            "type": "text",
            "id": "shop-image-alt",
            "label": "Alt description for Image"
        },
        {
            "type": "text",
            "id": "shop-alpha-name",
            "label": "Name of Alpha Content"
        },
        {
            "type":  "textarea",
            "id": "shop-alpha-desc",
            "label": "Alpha Description"
        },
        {
            "type": "text",
            "id":  "alpha-btn-text",
            "label": "Alpha CTA Text"
        },
        {
            "type": "url",
            "id":  "alpha-btn-link",
            "label": "Alpha CTA Link"
        }
    ]
}
{% endschema %}