<div id="content">
  {% section 'lashext-banner' %}
</div>

<div id="content" class="row">

  {% section 'lashext-section-001' %}

  <div class="sk-product-wrapper product-2col">
    <div class="featured-collection-2col">
      <div class="frow justify-between">
        {% for link in linklists.lash-extensions.links %}
        <div class="collection-thumb-2">
          <img class="collection-thumb-img" src="{{ link.object.featured_image | img_url: 'master' }}" />
          <div class="collection-thumb-title">
            {{ link.object.title | escape }}
            <div class="collection-price">{{ link.object.price | money_without_trailing_zeros }}</div>
          </div>
          <div class="collection-thumb-desc">{{ link.object.description }}</div>
          <!-- <a href="{{ page.metafields.global.lash-extensions-link }}" class="collection-thumb-link" target="_blank">
            <div>Book Now</div>
          </a> -->
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

  {% section 'lashext-section-002' %}

  <div class="sk-product-wrapper product-2col">
    <div class="featured-collection-2col">
      <div class="frow justify-between">
        {% for link in linklists.fill-ins-collection.links %}
        <div class="collection-thumb-2">
          <img class="collection-thumb-img" src="{{ link.object.featured_image | img_url: 'master' }}" />
          <div class="collection-thumb-title">
            {{ link.object.title | escape }}
            <div class="collection-price">{{ link.object.price | money_without_trailing_zeros }}</div>
          </div>
          <div class="collection-thumb-desc">{{ link.object.description }}</div>
          <!-- <a href="{{ page.metafields.global.lash-extensions-link }}" class="collection-thumb-link" target="_blank">
            <div>Book Now</div>
          </a> -->
        </div>
        {% endfor %}
      </div>
    </div>
  </div>


  {% section 'lashext-alpha' %}

  {% section 'lashext-faqs-001' %}

  {% section 'lashext-faqs-002' %}

</div>


{% section 'component-book-cta-other' %}

